<ol class="breadcrumb">
  <li class="breadcrumb-item">Dashboard</li>
  <li class="breadcrumb-item active">BSN Manager</li>
</ol>
<h1 class="page-title">BSN -
  <span class="fw-semi-bold">Manager</span>
</h1>
<section class="widget card-interface" widget>
  <header>
    <div *ngIf="payload.bsn.length > 0">
        <label for="targetUser"><b>Select User</b></label>
        <select required class="btn btn-md btn-select" [(ngModel)]="payload.user.id"
          tabindex="-1" id="targetUser" name="targetUser">
          <option *ngFor="let user of users" [value]="user._id">{{ user.personal.firstname }} {{ user.personal.lastname
            }}</option>
        </select>
        <button type="button" class="btn btn-primary" (click)="assignBSN()">Assign</button>
    </div>
    
  </header>
  <div class="widget-body">
    <div class="mt">
      <table class="table table-striped table-hover" [mfData]="bsnList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th class="text-right">
              <input id="toggle-all" type="checkbox" [checked]="toogleSelectAll" (click)="selectAll()">
            </th>
            <th>
              <mfDefaultSorter by="bsn">BSN</mfDefaultSorter>
            </th>
            <th class="hidden-md-down">
                <mfDefaultSorter by="assigned">Assigned</mfDefaultSorter>
              </th>
            <th>
              <mfDefaultSorter by="user.personal.firstname">Assigned User</mfDefaultSorter>
            </th>
            
            <th class="hidden-md-down">
              <mfDefaultSorter by="used">Used</mfDefaultSorter>
            </th>
            <th class="hidden-md-down">
              <mfDefaultSorter by="created">Created</mfDefaultSorter>
            </th>
            <th class="hidden-md-down">
              <mfDefaultSorter by="modified">Modified</mfDefaultSorter>
            </th>
            <th class="hidden-md-down text-right">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of mf.data; let i = index">
            <td class="align-middle">
              <input *ngIf="!record.assigned" class="form-check-input" class="toggle-one" type="checkbox" id="checkbox{{record._id}}" [checked]="isSelected(record._id)"
                (click)="selectRecord(record._id)">
            </td>
            <td class="hidden-md-down align-middle">
              {{ record.bsn }}
            </td>
            
            <td class="hidden-md-down align-middle">
                {{ record.assigned ? 'Yes' : 'No' }}
              </td>
            <td class="align-middle">
              {{ record.user ? record.user.personal.firstname + ' ' + record.user.personal.lastname : 'N/A' }}
            </td>
            <td class="hidden-md-down align-middle">
                {{ record.used ? 'Yes' : 'No' }}
              </td>
            
            <td class="hidden-md-down align-middle">
              {{ record.created | amTimeAgo }}
            </td>
            <td *ngIf="!record.modified" class="hidden-md-down align-middle">
              N/A
            </td>
            <td *ngIf="record.modified" class="hidden-md-down align-middle">
              {{ record.modified | amTimeAgo }}
            </td>
            <td class="hidden-md-down text-right align-middle">
              <button class="btn btn-danger width-50 mb-xs" role="button" (click)="deleteRecord(record._id, i)">
                <i class="glyphicon glyphicon glyphicon-trash text-white"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="mf.data.length === 0">
            <td colspan="100">
              No BSN List found!
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100, 500, 1000]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="mt">
        <a class="btn bg-warning btn-md text-white" (click)="openBSNLoader()">Open BSN Uploader</a> 
      <a *ngIf="!isLoading" class="btn bg-primary btn-md text-white" (click)="moreRecords()">Load More (500)</a>
      <a *ngIf="isLoading" class="btn btn-block btn-grey" disabled>
        <span class="spinner">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </a>
    </div>
  </div>
</section>