@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

users {
  .text-center {
    text-align: center;
  }


.left-right-padding {
  padding: 0px 0px 10px 0px;
}


.description {
  font-size: $font-size-14;
}

.skinny-font{
  font-weight: 100;
  font-size: 32px;
}

.square {
  width: 80px;
  height: 80px;
}

/***********************************/
/**            PARSLEY            **/
/***********************************/


input.parsley-error{
  border-color: $brand-danger;
  @include box-shadow(inset 0 1px 1px rgba($brand-danger,.075));
}

.parsley-errors-list{
  font-size: $font-size-smaller;
  padding-left: 0;
  margin-bottom: 5px;

  li{
    list-style: none;
    color: $brand-danger;
  }
}


/**
 * Switchery.
 */

 .switch{
  box-sizing: content-box;
}

.switch input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}


/** FORM **/

.widget-login{
  padding: 30px;

  > header{
    h1,h2,h3,h4,h5,h6{
      font-weight: $font-weight-normal;
      text-align: center;
    }
  }
}

.input-group {
  width: auto;
  .input-group-addon {
    border: 0px;
    padding: .375rem .75rem .375rem .75rem;
  }
}
.login-form{
  .form-control{
    font-size: $font-size-14;
    border: 1px solid $gray-semi-lighter;
    background-color: #FFF;
    &:focus{
      border: 1px solid $brand-primary;
      background-color:#FFF;
    }
  }
}

.error-highlight{
  border: 1px solid $brand-danger;
      background-color:#FFF;
}
}
 