<ol class="breadcrumb">
  <li class="breadcrumb-item">Dashboard</li>
  <li class="breadcrumb-item active">Property Records</li>
</ol>
<h1 class="page-title">Property -
  <span class="fw-semi-bold">Records</span>
</h1>
<section class="widget card-interface" widget>
  <header>
    <a class="btn bg-primary btn-md text-white" (click)="downloadAsCSV()">Download {{ selectedRecords.length > 0 ? ' SELECTED ' : ' ALL ' }} DATA as CSV</a>
  </header>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 float-xs-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon bg-primary text-white">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search Street Name">
        </div>
      </div>
      <table class="table table-striped table-hover" [mfData]="propertyRecords" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th class="align-middle text-center">
              <input class="form-check-input" id="toggle-all" type="checkbox" [checked]="toogleSelectAll" (click)="selectAll()">
            </th>
            <th>
              <mfDefaultSorter by="property.building_serial_number">BSN</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="property.house_number">Location</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="property.ownership_type">Ownership Type</mfDefaultSorter>
            </th>
            <th class="hidden-md-down ">
              <mfDefaultSorter by="property.number_of_entity">Entities</mfDefaultSorter>
            </th>
            <th class="hidden-md-down">
              Photos
            </th>
            <th class="hidden-md-down text-right">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="text-capitalize">
          <tr *ngFor="let record of mf.data | SearchPipe : searchText; let i = index">
            <td class="align-middle">
              <input class="form-check-input" class="toggle-one" type="checkbox" id="checkbox{{record._id}}" [checked]="isSelected(record._id)"
                (click)="selectRecord(record._id)">
            </td>
            <td class="align-middle">
              {{ record.property.building_serial_number ? record.property.building_serial_number : 'N/A' }}
            </td>
            <td class="align-middle">
              {{ record.property.house_number }}, {{ record.property.street_name }}
              <br> {{ record.property.lga }}, {{ record.property.state }}
            </td>
            <td class="align-middle">
              <span class="fw-semi-bold">{{ record.property.ownership_type }}</span>
            </td>

            <td class="hidden-md-down align-middle">
              {{ record.property.number_of_entity }}
            </td>
            <td class="hidden-md-down align-middle">
              {{ record.property_photos.length }}
              <a *ngIf="record.property_photos.length > 0" (click)="downloadPhotos(record.property_photos)">
                <i class="fa fa-download"></i>
              </a>
            </td>
            <td class="hidden-md-down text-right align-middle">
              <button class="btn btn-primary width-50 mb-xs" role="button" (click)="goToPropertyPage(record)">
                <i class="glyphicon glyphicon glyphicon-eye-open text-white"></i>
              </button>
              <button class="btn btn-warning width-50 mb-xs" role="button" (click)="goToEditPropertyPage(record)">
                <i class="glyphicon glyphicon glyphicon-pencil text-white"></i>
              </button>
              <button *ngIf="record.payment_status !== 1" class="btn btn-danger width-50 mb-xs" role="button" (click)="deleteRecord(record._id, i)">
                <i class="glyphicon glyphicon glyphicon-trash text-white"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
            <td colspan="100">
              No matches
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100, 500, 1000]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <a *ngIf="!isLoading" class="btn bg-primary btn-md text-white" (click)="moreRecords()">Load More (500)</a>
    <a *ngIf="isLoading" class="btn btn-block btn-grey" disabled>
      <span class="spinner">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
    </a>
  </div>
</section>