@import "../scss/_variables";
@import "../scss/variables";
@import "../scss/mixins";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap-select/dist/css/bootstrap-select";

/**
 * Switchery.
 */

.switch{
  box-sizing: content-box;
}

.switch input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}

.form-group.has-warning .fileinput {
  .fileinput-preview {
    color: $state-warning-text;
  }
  .thumbnail {
    border-color: $state-warning-border;
  }
}
.form-group.has-error .fileinput {
  .fileinput-preview {
    color: $state-danger-text;
  }
  .thumbnail {
    border-color: $state-danger-border;
  }
}
.form-group.has-success .fileinput {
  .fileinput-preview {
    color: $state-success-text;
  }
  .thumbnail {
    border-color: $state-success-border;
  }
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}


/**
*  autosize
**/

.autogrow {
  overflow: hidden;
  resize: none;
}


/**
* datetime
**/
.input-group {
  width: auto;
  .input-group-addon {
    padding: .375rem .75rem .375rem .75rem;
  }
}

.fileinput .input-group-addon {
  border-right: 1px solid $btn-secondary-border;
}

/***********************************/
/**            PARSLEY            **/
/***********************************/


input.parsley-error{
  border-color: $brand-danger;
  @include box-shadow(inset 0 1px 1px rgba($brand-danger,.075));
}

.parsley-errors-list{
  font-size: $font-size-smaller;
  padding-left: 0;
  margin-bottom: 5px;

  li{
    list-style: none;
    color: $brand-danger;
  }
}
