<ol class="breadcrumb">
  <li class="breadcrumb-item">Dashboard</li>
  <li class="breadcrumb-item {{display === 'user' ? 'active' : '' }}">Account Manager</li>
</ol>

<div *ngIf="closeButton" class="row animated bounceInDown">
  <div class="col-12">
    <span class="pull-left">
      <a (click)="closeThis()">
        <i class="fa fa-arrow-left pull-left font-icon-large text-primary margin-top-3"></i> My Account
      </a>
    </span>
  </div>
  <div class="col-12">
    &nbsp;
  </div>
</div>


<!-- USER PROFILE -->
<div *ngIf="display === 'user'" class="row profile">
  <div class="col-lg-6 col-12 animated pulse">
    <section class="widget card-interface">

      <div class="widget-middle-overflow windget-padding-md clearfix text-center text-black ">
        <img src="{{ user.avatar }}" height="80px" alt="">
        <h3 *ngIf="user.user_type == 'Super' || user.user_type === 'Organisation'">
          {{ user.organisation }}
        </h3>
        <h3 *ngIf="user.user_type == 'Individual'">
          {{ user.firstname + ' ' + user.lastname }}
        </h3>
        <div>
          <span class="badge badge-pill {{ user.user_type === 'Super' ? 'badge-super' : user.user_type === 'Organisation' ? 'badge-organisation' : 'badge-individual' }}">
            {{ user.user_type ? user.user_type : 'Individual' }}
          </span> &nbsp;
          <span class="{{ user.is_active ? 'badge badge-pill badge-outline-primary' : 'badge badge-pill badge-outline-danger' }}">
            {{ user.is_active ? 'Active' : 'In-Active' }}
          </span> &nbsp;
          <span class="{{ user.is_active ? 'badge badge-pill badge-outline-primary' : 'badge badge-pill badge-outline-danger' }}">
            {{ user.role }}
          </span>
        </div>
      </div>

      <div class="widget-body bg-white">
        <div class="clearfix">
          <div *ngIf="!userEdit">
            <legend>
              <strong>Telephone</strong>
            </legend>
            <p>{{ user.mobile }}</p>

            <legend>
              <strong>Email</strong>
            </legend>
            <p>{{ user.email }}</p>

            <legend>
              <strong>Role</strong>
            </legend>
            <p>{{ user.role }}</p>

            <legend>
              <strong>Last Seen</strong>
            </legend>
            <p>{{ user.last_seen | amTimeAgo }}</p>

            <div class="float-right">
              <button class="btn btn-primary pull-right" (click)="openEdit()">&nbsp; Edit Account
                <i class="fa fa-pencil mr-xs pull-left font-icon-large margin-top-3"></i>
              </button>
            </div>
          </div>

          <div *ngIf="userEdit">
            <form class="form-horizontal form-label-left parsleyjs" method="post" data-parsley-priority-enabled="false" novalidate="novalidate"
              (ngSubmit)="updateUser()">
              <fieldset>
                <legend>
                  <span class="tag tag-warning  text-gray-dark mr-xs">
                    Update
                  </span> Information
                </legend>
                <div class="form-group row">
               
                    <div class="col-12">
                      <label for="firstname">Firstname</label>
                    </div>
                    <div class="col-12">
                      <input type="text" id="firstname" name="firstname" class="form-control" required="" [(ngModel)]="user.firstname">
                    </div>
                    <div class="col-12">
                      <label for="lastname">Lastname</label>
                    </div>
                    <div class="col-12">
                      <input type="text" id="lastname" name="lastname" class="form-control" required="" [(ngModel)]="user.lastname">
                    </div>
                  <div class="col-12">
                    <label for="Organisation">Organisation</label>
                  </div>
                  <div class="col-12">
                    <input type="text" id="organisation" name="organisation" class="form-control" required="" [(ngModel)]="user.organisation">
                  </div>
                  <div class="col-12">
                    <label for="telephone">Telephone</label>
                  </div>
                  <div class="col-12">
                    <input type="tel" id="telephone" name="telephone" class="form-control" required="" [(ngModel)]="user.mobile">
                  </div>
                </div>
                <div *ngIf="thisUser._id !== user.id">
                  <div class="form-group row">
                    <div class="col-12">
                      <label for="roles">Select User Role</label>
                    </div>
                    <div class="col-md-12">
                      <select id="roles" name="roles" class="form-control form-control-md" [(ngModel)]="user.role">
                        <option value="Admin">Admin</option>
                        <option value="Data Miner">Data Miner</option>
                        <option value="Data Reporter">Data Reporter</option>
                        <option value="Field Agent">Field Agent</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="form-control-label col-md-3 col-xs-12" for="access_control">Access Control</label>
                    <div class="col-md-9 col-xs-12">
                      <div class="display-inline-block checkbox-ios">
                        <label for="access_control" class="switch">
                          <input type="checkbox" class="ios" checked id="access_control" name="access_control" [(ngModel)]="user.is_active">
                          <i></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-actions bg-white">
                <button type="button" (click)="closeEdit()" class="btn btn-inverse btn-rounded pull-left">
                  <i class="fa fa-reply pull-left font-icon-large"></i>
                </button>
                <button type="submit" class="btn btn-success btn-rounded pull-right">&nbsp; Save
                  <i class="fa fa-save pull-left font-icon-large margin-top-3"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>