<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 offset-lg-4 offset-md-3 offset-0">
        <h5 class="widget-login-logo animated fadeInUp">
          <img src="assets/icon/header.png" alt="">
        </h5>
        <section class="widget widget-login animated pulse bg-white">
          <form class="login-form mt-sm">
            <header class="text-center">
              <div class="text-center mb-sm">
                <h3>Sign up as</h3>
              </div>
              <div class="btn-group btn-group-md btn-group-toggle" data-toggle="buttons">
                <label (click)="user.user_type = 'Individual'" class="btn btn-primary {{ user.user_type === 'Individual' ? 'active' : '' }}">
                  <input type="radio" name="userType"> Individual
                </label>
                <label (click)="user.user_type = 'Organisation'" class="btn btn-primary {{ user.user_type === 'Organisation' ? 'active' : '' }}">
                  <input type="radio" name="userType"> Organisation
                </label>
              </div>
            </header>

            <div class="widget-body mt-md">
              <form class="login-form parsleyjs" method="post" data-parsley-priority-enabled="false" novalidate="novalidate" (ngSubmit)="registerUser()">
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon bg-primary text-white">
                        <i class="fa fa-building"></i>
                      </span>
                      <input id="organisation" name="organisation" class="form-control" [(ngModel)]="user.organisation" size="30" type="text" placeholder="Organisation"
                        data-parsley-errors-container="#organisation-error">
                    </div>
                    <div id="organisation-error"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon bg-primary text-white">
                        <i class="fa fa-user"></i>
                      </span>
                      <input required="" id="firstname" name="firstname" class="form-control" [(ngModel)]="user.firstname" size="16" type="text"
                        placeholder="Firstname" data-parsley-errors-container="#firstname-error">
                    </div>
                    <div id="firstname-error"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 ">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon bg-primary text-white">
                        <i class="fa fa-user"></i>
                      </span>
                      <input required="" id="lastname" name="lastname" class="form-control" size="16" type="text" [(ngModel)]="user.lastname" placeholder="Lastname"
                        data-parsley-errors-container="#lastname-error">
                    </div>
                    <div id="lastname-error"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 ">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon bg-primary text-white">
                        <i class="fa fa-envelope-o"></i>
                      </span>
                      <input required="" id="email" name="email" class="form-control" size="16" type="email" [(ngModel)]="user.email" placeholder="Email"
                        data-parsley-errors-container="#email-error">
                    </div>
                    <div id="email-error"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 ">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon bg-primary text-white">
                        <i class="fa fa-phone"></i>
                      </span>
                      <input required="" id="mobile" name="mobile" class="form-control" size="16" type="tel" [(ngModel)]="user.mobile" placeholder="Telephone"
                        data-parsley-errors-container="#telephone-error">
                    </div>
                    <div id="telephone-error"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 ">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon bg-primary text-white">
                        <i class="fa fa-lock"></i>
                      </span>
                      <input required="" type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" placeholder="Password"
                        data-parsley-errors-container="#password-error">
                    </div>
                    <div id="password-error"></div>
                  </div>
                </div>

                <div class="clearfix">
                  <div class="row">
                    <div class="col-12">
                      <button *ngIf="!registerSwitch" type="submit" class="btn btn-block btn-primary btn-md text-white">Create Account</button>
                      <a *ngIf="registerSwitch" class="btn btn-block btn-grey btn-md">
                        <span class="spinner">
                          <i class="fa fa-spinner fa-spin"></i>
                          Creating Account...
                        </span>
                      </a>
                    </div>
                    <div class="col-12 mt-lg">
                      <a routerLink="/login">Got an account? Sign in</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </form>
        </section>
      </div>
    </div>
  </main>
</div>